
{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
<h2>Shopping Cart</h2>
<table class="table">
  <tbody>
    <tr>
      <th>Items</th>
      <td>
        {% for item in items %}
        <div>
          {{ item.quantity }}x
          {{ item.name }}
        </div>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>Subtotal</th>
      <td>${{ subtotal|floatformat:2 }}</td>
    </tr>
    <tr>
      <th>Shipping</th>
      <td>Free</td>
    </tr>
    <tr>
      <th>Taxes ({{ tax_rate }}%)</th>
      <td>${{ tax_total|floatformat:2 }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <td>${{ total|floatformat:2 }}</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
