
{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<h2>{{ product.name }}</h2>
<p>{{ product.description }}</p>
{% if product.is_on_sale %}
  <p class="price sale-price">
    Regular Price:<del>${{ product.get_price|floatformat:2 }}</del> <br/>
    <strong>SALE: ${{ product.current_price|floatformat:2 }}</strong>
  </p>
{% else %}
  <p class="price price-regular">
    <strong>Price: ${{ product.get_price|floatformat:2 }}</strong>
  </p>
{% endif %}
{% endblock %}
